doctype html
html
  head
    title= title
  body
    h1 Benvenuto nella schermata home
    p Questa è la pagina principale.
    p
      a(href="/pagina/1") Vai alla pagina 1
    p
      a(href="/pagina/2") Vai alla pagina 2

       img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-zOCx23VonSZ2ln3-Qf8QOtFxYyIO6OXKlA&usqp=CAU", alt="Esempio di immagine")